.DS_Store
starting-project/.superpowers/brainstorm/90308-1780609349/state/server-info
starting-project/.superpowers/brainstorm/90308-1780609349/state/server.log
starting-project/.superpowers/brainstorm/90308-1780609349/state/server.pid
